 *{
     margin: 0;
     padding: 0;
 }

body {
    font-family: 'Abril Fatface', cursive;
}

 h1{
     text-align: center;
     font-size: 6vw;
     position: absolute;
     top: 20%;
     left: 50%;
     transform: translate(-50%, -50%);
 }

h1 a{
    text-decoration: none;
    color: rgb(255, 148, 134);
}

 header{
    background-image: url(images/backgroundimage.jpeg);
    box-shadow: inset 0 0 0 1000px rgba(48, 46, 46, 0.5);
    height: 100vh;
    background-size: cover;
    background-position: center;
 }

ul {
    display: flex;
    list-style: none;
    position: absolute;
     top: 30%;
     left: 50%;
     transform: translate(-50%, -50%);
}

ul li{
    padding: 0.5vw 2vw;
}

ul li a{
    text-decoration: none;
    color: burlywood;
    font-size: 18px;
    transition: 0.5s;
    border-bottom: 1px solid transparent;
}

ul li a:hover{
    border-color: burlywood;
}

.socialicons {
    position: absolute;
    display: flex;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);     
    opacity: 50%;
}

.socialicons img{
    height: 30px;
    width: 30px;
    padding-right: 2vw;
}

.button {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.btn1{
    border: 3px solid ;
    border-radius: 15px;
    padding: 10px 80px;
    color: black;
    text-decoration: none;
    display: flex;
    text-align: center;
    font-size: 1em;
    background-color: rgb(222, 184, 135, 0.3);
}

.btn2{
    border: 3px solid ;
    border-radius: 15px;
    padding: 10px 90px;
    color: black;
    text-decoration: none;
    display: flex;
    margin-top: 90px;
    text-align: center;
    font-size: 1em;
    background-color: rgb(222, 184, 135, 0.3);

}

.btn1:hover, .btn2:hover{
    background-color: burlywood;
    color: black;
    transition: 0.5s ;
}