 *{
     margin: 0;
     padding: 0;
 }

body {
    font-family: 'Abril Fatface', cursive;
}

 h1{
     text-align: center;
     padding-top: 3%;
     font-size: 5vw;
 }

h1 a{
    text-decoration: none;
    color: rgb(255, 148, 134);
}

 header{
    background-image: url(images/backgroundimage.jpeg);
    box-shadow: inset 0 0 0 1000px rgba(100, 97, 97, 0.5);
    height: 100vh;
    background-size: cover;
    background-position: center;
 }

/*  
THIS IS FOR ALIGNING BUTTONS ON LEFT

 .main {
    height: 100%;
    box-sizing: border-box;
    padding-top: 5vh;
    padding-bottom: 10vh;
    padding-left: 5vh;
  }
  
  ul {
    height: 100%;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
  }

 ul li a{
     text-decoration: none;
     color:rgb(172, 92, 81);
     padding: 5px 20px;    
     font-size: 20px; 
 }

 ul li a:hover{
    background-color: rgb(172, 92, 81);
    color: black;
    transition: 1s;
 } */
