 *{
     margin: 0;
     padding: 0;
 }

body {
    height: 100vh;
    line-height: 1.6;
    overflow: hidden;
    font-family: 'BioRhyme', serif;
}

.container {
    width: 100%;
    height: 100%;
    /* CSS Smooth Scroll */
    overflow-y: scroll; 
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
}


.main{
    position: fixed;
    top: 0;
    z-index: 1;
    display: flex;
    width: 100%;
    height: 60px;
    background: rgba(0, 0, 0, 0.7);}

.main ul {
    display: flex;
    list-style: none;
    justify-content: center;
    width: 100%;
}

.main ul li{
    margin: 0 1rem;
    padding: 1rem;
}

.main ul li a{
    text-decoration: none;
    text-transform: uppercase;
    color: #f4f4f4;
    font-size: 18px;
    transition: 0.5s;
}

.main ul li a:hover{
    color: burlywood;
}

.socialicons {
    opacity: 70%;
}

.socialicons img{
    height: 30px;
    width: 30px;
    padding-right: 10px;
}

.button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 20px;
} 

.btn1{
    border: 3px solid;
    border-radius: 15px;
    padding: 10px 80px;
    color: black;
    text-decoration: none;
    display: flex;
    text-align: center;
    font-size: 1em;
    background-color: rgb(222, 184, 135, 0.3);
}

.btn2{
    border: 3px solid ;
    border-radius: 15px;
    padding: 10px 90px;
    color: black;
    text-decoration: none;
    display: flex;
    margin-top: 50px;
    text-align: center;
    font-size: 1em;
    background-color: rgb(222, 184, 135, 0.3);

}

.btn1:hover, .btn2:hover{
    background-color: burlywood;
    color: black;
    transition: 0.5s ;
} 

/* Section Home */

section#home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    scroll-snap-align: center;
    background: url('images/backgroundimage.jpeg') no-repeat center center/cover;
    box-shadow: inset 0 0 0 1000px rgba(99, 99, 99, 0.5);
}

section#home h1{
    font-size: 6rem;
    text-decoration: none;
    color: rgb(255, 148, 134);
    margin-bottom: 100px;
}

section#home p{
    font-size: 1.5rem;
}

/* Section About */

section#about {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 100vh;
    scroll-snap-align: center;
    background: url('images/sectionabout.jpeg') no-repeat center center/cover;
    box-shadow: inset 0 0 0 1000px rgba(99, 99, 99, 0.5);
}

section#about h1{
    font-size: 4rem;
    text-decoration: none;
    color: rgb(255, 148, 134);
}

section#about p{
    font-size: 1.5rem;
}

/* Section Gallery */

section#gallery {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 100vh;
    scroll-snap-align: center;
    background: url('images/sectionservice.jpeg') no-repeat center center/cover;
    box-shadow: inset 0 0 0 1000px rgba(99, 99, 99, 0.5);
}

section#gallery h1{
    font-size: 4rem;
    text-decoration: none;
    color: rgb(255, 148, 134);
}

section#gallery p{
    font-size: 1.5rem;
}

/* Section Contact */

section#contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 100vh;
    scroll-snap-align: center;
    background: url('images/sectioncontact.jpeg') no-repeat center center/cover;
    box-shadow: inset 0 0 0 1000px rgba(99, 99, 99, 0.2);
}

section#contact h1{
    font-size: 4rem;
    text-decoration: none;
    color: rgb(255, 148, 134);
}

section#contact p{
    font-size: 1.5rem;
}



